JenkinsDLSPresentation/.vs
JenkinsDLSPresentation/JenkinsDLSPresentation/bin
JenkinsDLSPresentation/JenkinsDLSPresentation/obj
JenkinsDLSPresentation/XUnitTestProject1/bin
JenkinsDLSPresentation/XUnitTestProject1/obj